{% extends 'base.html' %}

{% block title %}
About IMD
{% endblock %}

{% block content %}
    <!-- about -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about_border">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="titlepage text_align_left">
                                    <h2><em>About Us</em></h2>
                                </div>
                                <div class="about_text">
                                    <p>At ProjectIMD, we are committed to delivering cutting-edge solutions that help protect the integrity of digital media. Our team is made up of experienced developers, data scientists, and image processing experts who are passionate about using technology to tackle real-world problems.

                                    <p>We are proud to have developed an advanced image forgery detection system that leverages state-of-the-art algorithms to identify Copy-Move forgery detection; block-based forgeries. By using our solution, you can trust the authenticity of any image you encounter, whether you're a journalist, investigator, or concerned citizen.</p>
                                        
                                    <p>Our team is dedicated to staying at the forefront of image processing research and development, constantly refining our techniques and algorithms to provide the most accurate and reliable results possible. We are also committed to providing a seamless user experience, with a user-friendly interface and streamlined processes that make it easy to analyze images and detect forgeries.</p>
                                        
                                    </p></p>
                                    <a class="read_more" href="{{ url_for('abt') }}">Read More</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_img">
                                    <figure><img class="img_responsive" src="{{ url_for('static', filename='images/icon.png') }}" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
{% endblock %}