{# parent layout #}
{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<!-- body -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2><em>Login</em></h2>
                    </div>
                </div>
                <div class=" col-md-10 offset-md-1">
                    <form id="request" class="main_form">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="contactus" placeholder="Email" type="email" name="Email" required>
                            </div>
                            <div class="col-md-6">
                                <input class="contactus" placeholder="Password" type="password" name="Password" required>
                            </div>
                                <button class="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}